.header-container {
    padding: 30px;
    display: flex;
    flex-direction: row;
    transition: transform 0.5s ease-in-out;
    z-index: 10000;
  }
  
  .header-text:hover {
    color: var(--primary-bright-color);
    transition: color 0.5s ease, box-shadow 0.5s ease;
  }
  
/* hvnt implement? */
.header-container-exit {
  transform: translateX(-100%);
}
