/* HomePage.js */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;  
  margin-bottom: -90px;
}

/* Home_Greeting.js */

.download-cv {
  background-color: var(--primary-color);
  color: var(--background-color);
  font-weight: bold;
  padding: 0px 30px 0px 30px;
  border-radius: 35px;
  cursor: pointer;
  transition: background 0.3s ease;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  display: flex;
  width: fit-content;
}

.download-cv:hover {
  background: linear-gradient(to bottom, #176370, #4cf3e5);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

/* Home_Education.js */

.home-content-container {
  height: auto;
  margin-bottom: 100px;
  width: auto;
  background-color: var(--primary-shadow-color);
  padding: 20px 30px 20px 50px;
  box-shadow: 0px -15px 10px var(--shadow-color);
}

.gray-box-education {
  background-color: var(--shadow-color);
  padding: 20px 50px 0px 50px;
  margin: 20px;
  border-radius: 10px;
  height: auto;
}


.light-gray-box {
  background-color: var(--shadow-color);
  margin: 0 -50px 0 -50px !important;
}

.education-button {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 10px 58px;
  border-radius: 51px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: background-color 0.4s;
  font-size: 20px;
}

.education-button:hover {
  background: linear-gradient(to bottom, #176370, #4cf3e5);
}

.education-button p {
  margin: 0;
}

.smkdabb {
  background-image: url('../images/smkdabb.png');
  padding: 90px;
  margin-top: 0px !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.kms {
  background-image: url('../images/kms.png');
  padding: 100px;
  margin-bottom: -20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.UKM2 {
  background-image: url('../images/UKM_white.png');
  padding: 150px;
  margin-bottom: -120px;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Home_Certificate.js & Home_Exam.js */

.certificate-size {
  width: 70%;
  height: 90%;
}

.gray-box-certificate,
.gray-box-exam {
  background-color: var(--shadow-color);
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  min-width: 70%;
  height: auto;
}

/* LAPTOP VIEW */
@media (max-width: 1150px) {
  .home-content-container {
    padding: 10px;
  }

  .gray-box-education {
    padding: 10px;
    margin: 5px;
  }

  .light-gray-box {
    background-color: var(--shadow-color);
    margin: 0 -10px 0 -10px !important;
  }

  .smkdabb {
    padding: 55px;
    margin-top: 8px;
  }
  
  .kms {
    padding: 55px;
    margin-top: 8px;
    margin-bottom: -8px;
  }
  
  .UKM2 {
    padding: 55px;
    margin-top: 8px;
    margin-bottom: -8px;
  }

}

/* TABLET VIEW */
@media (max-width: 768px) {
  .smkdabb {
    padding: 40px;
  }
  
  .kms {
    padding: 40px;
  }
  
  .UKM2 {
    padding: 40px;
  }

  .education-button {
    padding: 6px 25px;
    font-size: 15px;
  }

  h4 {
    font-size: 12px;
  }

}

/* MOBILE VIEW */
@media (max-width: 600px) {
  .space-evenly {
    flex-direction: column;
  }

  .gray-box-education {
    display: flex;
    flex-direction: column;
  }

  .centered {
    min-height: 0px;
  }

  .light-gray-box {
    background-color: var(--shadow-color);
    margin: 0 -10px 0 -10px !important;
  }

  .horizontal {
    justify-content: space-around;
  }

  .gray-box-certificate,
.gray-box-exam {
  padding: 5px;
  margin: 5px;
  padding-bottom: 15px;
}

.certificate-size {
  margin-bottom: 3px;
}

} 