/* Home_Modal.js */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--shadow-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal {
  background: var(--background-color);
  border-radius: 10px;
  padding: 20px;
  margin-top: -40px;
  box-shadow: 0px 0px 10px var(--shadow-color);
  width: auto;
  max-width: 50%;
  height: auto;
  max-height: 85%;
  z-index: 10000;
}

.modal-header {
  display: flex;
  justify-content: end;
}

.modal-work {
  background: var(--primary-color);
  border-radius: 10px;
  padding: 20px;
  margin-top: -40px;
  box-shadow: 0px 0px 10px var(--shadow-color);
  width: auto;
  height: auto;
  z-index: 10000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: start;
}

.modal-close {
  display: flex;
  justify-content: end;
}

.gray-box-modal {
  background-color: var(--shadow-color);
  padding: 5px;
  margin-top: -30px;
  max-width: 70%;
  max-height: 90%;
  border-radius: 10px;
  height: auto;
}

.modal-work-header {
  display: flex;
  justify-content: center;
}

.close-button {
  cursor: pointer;
}

/* TABLET VIEW */
@media (max-width: 768px) {

}

/* MOBILE VIEW */
@media (max-width: 600px) {

} 