/* All Skills */

.align-right {
    padding-left: 13%;
    margin-left: -5%;
    width: 50%;
    max-width: 90%;
}

.position-container {
    padding-left: 45px;
    margin-top: -20px;
  }

  
.add-bottom {
  margin-bottom: 100px;
}

/* SkillsPage.js */

.add-top {
  padding-top: 50px;
}

/* Skills_Coding_Swipe.js */

  .skills-container {
    background-color: var(--tertiary-color);
    height: 210px;
    width: 69%;
    margin-left: 20%;
    margin-bottom: 150px;
  }

  /* Skills_Coding.js */

  .customsize {
    font-size: 30px;
  }

.coding-container {
    background-color: var(--shadow-color);
    padding: 50px 75px 80px 40px;
    margin-left: 80px;
    display: flex;
    justify-content: space-evenly;
  }
  
  .coding-container-inside {
    height: 500px;
    width: 675px;
  }

  .bar-chart {
    color: var(--primary-color);
    font-size: 30px;
    width: 100px;
  }
  
.text-alignment-little-left {
  padding-left: 30px;
}

  /* Skills_Building_Content.js */

  .build-container {
    background-color: var(--tertiary-color);
    padding: 10px;
    margin: 50px 30px 30px;
    border-radius: 50px;
  }
  
  .build-container-middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .build-title-container {
    background-color: var(--secondary-color);
    min-width: auto;
    font-size: 20px;
    width: 200px;
    height: 40px;
    border-radius: 40px;
    margin-left: 100px;
    margin-top: -35px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 7px;
    padding-top: 7px;
    border: var(--tertiary-color) 15px solid;
  }
  
  .build-container-inside {
    background-color: var(--background-color);
    height: auto;
    width: 70%;
    padding: 10px 0px 10px 0px;
    margin-top: 10px;
    margin-bottom: 50px;
    border-radius: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  
  .build-pictures {
    width: 88%;
  }
  
  .left-side-empty {
    background-color: var(--background-color);
    width: 35%;
    height: 55px;
    margin-left: -10px;
    margin-top: -40px;
  }
  
  .right-side-empty {
    background-color: var(--background-color);
    width: 35%;
    max-width: 4000px;
    height: 55px;
    margin-right: -10px;
    margin-top: -40px;
  }
  
  .picture-size {
    width: 95%;
  }

  /* Skills_Trading.js */

  
.trading-container {
    background-color: var(--shadow-color);
    padding: 5px 5px 5px 5px;
    display: flex;
    /* justify-content: space-evenly; */
  }
  
  .same-size {
    height: auto;
    width: calc(95% - 20px);
    padding: 20px;
    z-index: 5;
  }
  
  .cuba-cuba{
    width: 95%;
  }

  /* Skills_Infinite_Carousel.js */ 

  .carousel {
    margin: 0 auto;
    width: 100%;
    position: relative;
  }
  
  .carousel-slides {
    display: flex;
    list-style: none;
    gap: 50px;
    flex-shrink: 1;
  }
  
  .carousel-slide {
    position: relative;
    min-width: 0;
    flex-shrink: 0;
  }
  
  .carousel-slide {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 0;
  }
  
  .carousel-item-text {
    white-space: nowrap;
  }
  
  .carousel-item-img {
    width: 100px;
    height: auto;
  }
  
  .round {
    padding: 30px 50px;
    border-radius: 120px;
  }
  
  .light-blue {
    background-color: #d8f1ff;
  }
  
  .pink {
    background-color: #ffeaf0;
  }
  
  .purpule {
    background-color: #eae9ff;
  }  

  /* Skills_Editor.js */

  
.video-container {
  background-color: var(--quaternary-color);
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: -10px;
}

.video-long-container {
  overflow: hidden;
  background-color: var(--tertiary-color);
}

.video-carousel {
  display: flex;
  width: calc(200px * 12 + 40px * 11);
  /* Adjust the number of boxes and margins */
  overflow: hidden;
  animation: scroll 20s linear infinite;
  transition: transform 0.5s ease-in-out;
}

.video-carousel.paused {
  animation-play-state: paused;
}

.video-box {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 20px;
  height: 200px;
  width: 200px;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

.video-box:hover {
  opacity: 1;
  height: 250px;
  width: 250px;
  padding: 5px;
  margin: -2px 20px 20px 20px;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200px * 6 - 40px * 5));
  }
}

.hidden-overflow-x {
  overflow-x: hidden;
}

.carousel-each-video {
  display: flex;
  justify-content: center;
  width: 175px;
  height: 175px;
}

.carousel-each-video:hover {
  width: 200px;
  height: 200px;
}

@media (max-width: 1300px) {
  .coding-container-inside {
    width: 505px;
  }
  .customsize {
    font-size: 23px;
  }

  .coding-container {
    padding: 50px 55px 80px 30px;
    margin-left: 60px;
  }
}

/* LAPTOP VIEW */
@media (max-width: 1150px) {
  .bar-chart {
    width: 50px;
  }
  .coding-container-inside {
    width: 475px;
  }
  .customsize {
    font-size: 20px;
  }
  .coding-container {
    padding: 50px 40px 80px 23px;
    margin-left: 50px;
  }
}

/* CUSTOM VIEW */
@media (max-width: 1080px) {
  .coding-container-inside {
    width: 375px;
  }
  .customsize {
    font-size: 15px;
  }
  span {
    font-size: 19px;
  }
}

/* TABLET VIEW */
@media (max-width: 768px) {
  .coding-container-inside {
    width: 275px;
  }
  .customsize {
    font-size: 15px;
  }
  .coding-container {
    padding: 20px 20px 20px 0px;
    margin-left: 35px;
  }
}

/* MOBILE VIEW */
@media (max-width: 600px) {

} 