/* Relate to everything maybe */


/* Default styles (dark mode) */
:root {
  --text-color: rgb(219, 232, 243);
  --text-less-color: rgba(219, 232, 243, 0.76);
  --text-even-less-color: rgba(219, 232, 243, 0.377);
  --background-color: rgb(10, 19, 26);
  --background-transparent-color: rgba(26, 26, 26, 0.582);
  --primary-color: #216F79;
  --primary-bright-color: #21c6db;
  --primary-light-color: #26b6c9;
  --primary-shadow-color: rgba(33, 74, 80, 0.541);
  --secondary-color: rgb(9, 23, 32);
  --tertiary-color: #0b2b31;
  --quaternary-color: #1B3135;
  --shadow-color: rgba(0, 0, 0, 0.4);
  --high-shadow-color: rgba(0, 0, 0, 0.7);
  --full-shadow-color: rgb(0, 0, 0);
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}

/* Light mode */
body.light-mode {
  --text-color: rgb(4, 10, 14);
  --text-less-color: rgba(4, 10, 14, 0.644);
  --background-color: rgb(219, 232, 243);
  --background-transparent-color: rgba(219, 232, 243, 0.568);
  --primary-color: #216F79;
  --primary-light-color: rgb(30, 109, 122);
  --secondary-color: rgb(82, 113, 134);
  --tertiary-color: #248a9c;
  --quaternary-color: #8bc4ce;
  --shadow-color: rgba(255, 255, 255, 0.4);
  --high-shadow-color: rgba(255, 255, 255, 0.7);
  --full-shadow-color: rgb(240, 240, 240);
}


/* Custom Font */

@font-face {
  font-family: 'Josefin Sans Regular';
  /* 14 types */
  src: url('../../public/Josefin_Sans/static/JosefinSans-Regular.ttf') format('truetype');
  /* Add additional font weights and styles if needed */
}

@font-face {
  font-family: 'Montserrat Regular';
  /* 2 types */
  src: url('../../public/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Chakra Petch Regular';
  /* 10 types */
  src: url('../../public/Chakra_Petch/ChakraPetch-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Major Mono Display Regular';
  src: url('../../public/Major_Mono_Display/MajorMonoDisplay-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand Regular';
  src: url('../../public/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Rajdhani Regular';
  /* 5 types */
  src: url('../../public/Rajdhani/Rajdhani-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway Regular';
  /* 2 types */
  src: url('../../public/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Tilt Prism Regular';
  src: url('../../public/Tilt_Prism/TiltPrism-Regular-VariableFont_XROT\,YROT.ttf') format('truetype');
}

.josefin-sans {
  font-family: 'Josefin Sans Regular';
}

.montserrat {
  font-family: 'Montserrat Regular';
}

.chakra-petch {
  font-family: 'Chakra Petch Regular';
}

.major-mono {
  font-family: 'Major Mono Display Regular';
}

.quicksand {
  font-family: 'Quicksand Regular';
}

.rajdhani {
  font-family: 'Rajdhani Regular';
}

.raleway {
  font-family: 'Raleway Regular';
}

.tilt-prism {
  font-family: 'Tilt Prism Regular';
}

/* Text - Color */

.primary-color {
  color: var(--primary-color);
}

.primary-light-color {
  color: var(--primary-light-color);
}

.text-color {
  color: var(--text-color);
}

.text-less-color {
  color: var(--text-less-color);
}

.text-even-less-color {
  color: var(--text-even-less-color);
}

/* Text - Size & Position */
.super-big-text {
  font-size: 50px;
}

.big-text-up {
  font-size: 25px;
  margin-top: -55px;
}

.big-text {
  font-size: 40px;
}

.normal-text-size {
  font-size: 20px;
}

.fix-overflow-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
}

.spacing-text {
  line-height: 2;
}

.justify-text {
  text-align: justify;
}

.bold-text {
  font-weight: underline;
  color: var(--text-color);
  font-size: 30px;
}

.text-reset {
  text-decoration: none;
}

/* General - Position(Flex) */

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

.space-evenly {
  display: flex;
  justify-content: space-evenly;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.center-horizontal {
  display: flex;
  justify-content: center;
}

.center-vertical {
  align-items: center;
}

.position-container {
  padding-left: 45px;
  margin-top: -20px;
}

/* Icon */

.icon {
  margin-top: 6px;
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 1px;
  z-index:10000;
}

.icon-link {
  color: var(--text-color);
  text-decoration: none;
}

.icon-link:hover {
  color: var(--primary-color);
  transition: color 0.5s ease, box-shadow 0.5s ease;
}

.icon-exception {
  margin-top: -3px;
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 1px;
  width: 30px;
  height: 30px;
}



















/* Buttons */

.work-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  align-items: center;
  justify-content: center;
  min-height: 600px;
}

.container {
  height: 400px;
  width: 400px;
  margin-left: -15rem;
}

.front-box {
  background-color: var(--background-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  padding: 0px 0px 0px 0px;
}

.front-box:nth-child(1) {
  top: 700px;
}

.front-box:nth-child(2) {
  top: 1100px;
}

.front-box:nth-child(3) {
  top: 1400px;
}

.front-box:nth-child(4) {
  top: 1800px;
}

.front-box:nth-child(5) {
  top: 2100px;
}

.front-box:nth-child(6) {
  top: 2200px;
}

.front-box:nth-child(7) {
  top: 2500px;
}

.front-box:nth-child(8) {
  top: 2800px;
}

.front-box:nth-child(9) {
  top: 3100px;
}

.front-box:nth-child(10) {
  top: 3400px;
}

.vertical-long-line {
  height: 1800px;
  width: 2px;
  background-color: var(--text-color);
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  margin-top: 550px;
}

.make-it-bottom {
  min-height: 75px;
  max-height: 75px;
}

.text-alignment-left {
  padding-left: 22%;
}

.text-alignment-little-left {
  padding-left: 30px;
}

.container-test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.div-box {
  height: auto;
  width: auto;
  margin: 100px 100px 100px 100px;
  padding: 20px 20px 20px 20px;
  background-color: var(--primary-color);
}

/* Home Page */

.UKM {
  background-image: url('../images/UKM.png');
  padding: 150px;
  margin-bottom: -120px;
  background-size: contain;
  background-repeat: no-repeat;
}

.UKM3 {
  background-image: url('../images/UKM_white.png');
  padding: 80px;
  background-size: contain;
  background-repeat: no-repeat;
}

.solat-time-logo {
  background-image: url('../images/solat-time-logo-v2.png');
  padding: 150px;
  background-size: contain;
  background-repeat: no-repeat;
}

.minecraft {
  background-image: url('../images/minecraft.png');
  padding: 80px;
  background-size: contain;
  background-repeat: no-repeat;
}

.close-button {
  font-size: 1.5rem;
  cursor: pointer;
}

/* Work Page */

.work-title {
  transition: font-size 0.3s ease;
  cursor: pointer;
}

.work-title:hover {
  font-size: 20px;
}

.modal-content {
  margin-top: 20px;
}

.finexus {
  background-image: url('../images/finexus.png');
  padding: 90px;
  margin-top: 0px !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.petronas {
  background-image: url('../images/petronas.png');
  padding: 90px;
  margin-top: 0px !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.gray-hidden-text {
  color: var(--text-less-color);
}

/* Project Page */

.one-line {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* SKills */

.padding-left {
  padding-left: 10px;
}

.horizontal-scroll-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.add-bottom {
  margin-bottom: 100px;
}

.add-top {
  padding-top: 50px;
}

/* Skills - Video Editor */

.video-container {
  background-color: var(--quaternary-color);
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: -10px;
}

.video-long-container {
  overflow: hidden;
  background-color: var(--tertiary-color);
}

.video-carousel {
  display: flex;
  width: calc(200px * 12 + 40px * 11);
  /* Adjust the number of boxes and margins */
  overflow: hidden;
  animation: scroll 20s linear infinite;
  transition: transform 0.5s ease-in-out;
}

.video-carousel.paused {
  animation-play-state: paused;
}

.video-box {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 20px;
  height: 200px;
  width: 200px;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

.video-box:hover {
  opacity: 1;
  height: 250px;
  width: 250px;
  padding: 5px;
  margin: -2px 20px 20px 20px;
}

.up-text {
  padding-left: 12px;
  margin-top: -25px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200px * 6 - 40px * 5));
  }
}

.hidden-overflow-x {
  overflow-x: hidden;
}

.carousel-each-video {
  display: flex;
  justify-content: center;
  width: 175px;
  height: 175px;
}

.carousel-each-video:hover {
  width: 200px;
  height: 200px;
}

/* Background */

.invinsible-background {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Page Transition */
.page-transition {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.page-transition-exit {
  opacity: 0;
}

.header-container {
  transition: transform 0.5s ease-in-out;
}

.header-container-exit {
  transform: translateX(-100%);
}

/* MOBILE VIEW */
@media (max-width: 600px) {
  .normal-text-size {
    font-size: 14px;
    /* Adjust font size for smaller screens */
  }
}